@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
/*-----------------------------------*\
  #style.css
\*-----------------------------------*/

/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/
:root{
  --white: #FFFFFF;
  --primary-10: #a8cb5c;
  --primary-100: #10d62b;
  --primary-90: #10d62b;
  --primary-80: #10d62b;
  --primary-70: #241864;
  --primary-40: #242424;
  --primary-20: #10d62b;
  --secondary-100: #10d62b;
  --secondary-20: #073333;
  --neutral-100: #FAFCFF;
  --neutral-98: #F2F5FA;
  --neutral-95: #E9ECF2;
  --neutral-90: #DADFE5;
  --neutral-80: #C2C6CC;
  --neutral-60: #919499;
  --neutral-50: #797C80;
  --neutral-40: #616366;
  --neutral-30: #494A4D;
  --neutral-20: #303133;
  --neutral-10: #18191A;
  --neutral-5: #0C0C0D;
  --error-100: #FF2134;

  /* gradient */

  --gradient: linear-gradient(0deg, #ffffff 0%, #ffffff 10%, #00f700 100%);

  /** 
    * TYPOGRAPHY *
    * font family */

  --font-primary: "Monstserrat", sans-serif;

  /* font size */

  --fs-base: 62.5%;
  --fs-headline-large: 3.6rem;
  --fs-headline-medium: 2.8rem;
  --fs-headline-small: 2.8rem;
  --fs-title-large: 2.2rem;
  --fs-title-medium: 2rem;
  --fs-title-small: 1.8rem;
  --fs-body-large: 1.6rem;
  --fs-body-medium: 1.6rem;
  --fs-label-large: 1.6rem;
  --fs-label-medium: 1.4rem;

  /* line height */

  --lh-headline-large: 44px;
  --lh-headline-medium: 36px;
  --lh-headline-small: 36px;
  --lh-title-large: 28px;
  --lh-title-medium: 24px;
  --lh-title-small: 24px;
  --lh-body-large: 24px;
  --lh-body-medium: 24px;
  --lh-label-large: 24px;
  --lh-label-medium: 20px;

  /* font weight */

  --weight-bold: 700;
  --weight-semiBold: 600;
  --weight-regular: 400;

  /* letter spacing */

  --traking-n-025: -0.25px;
  --traking-p-05: 0.5px;

  /* border radius */

  --radius-small: 8px;
  --radius-medium: 12px;
  --radius-large: 16px;
  --radius-extra-large: 32px;
  --radius-full: 1000px;
  --radius-circle: 50%;

  /* box shadow */

  --shadow-1: 0px 2px 4px 0px #00000033;
  --shadow-2: 0px 5px 10px 0px #0000000D;
  --shadow-3: 0px 5px 10px 0px #c5386733;
  --shadow-4: 0px 10px 20px 0px #0000001A;
  
  /* transition */

  --transition-easing-quick: cubic-bezier(0, 0.7, 0.3, 1);
  --transition-duration-quick: 200ms;
  --transition-duration-smooth: 500ms;

}


/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a,
img,
span,
input,
select,
button{
  display: block;
}

a{
  color: inherit;
  text-decoration: none;
}

img{
  height: auto;
}

input,
button,
select{
  background: none;
  border: none;
  font: inherit;
}

button{
  cursor: pointer;
}

input,
select{
  width: 100%;
  outline: none;
}

address{
  font-style: normal;
}

select{
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

html{
  font-family: var(--font-primary);
  font-size: var(--fs-base);
  scroll-behavior: smooth;
}

body{
  background-color: var(--neutral-98);
  color: var(--neutral-5);
  font-size: var(--fs-body-medium);
  line-height: var(--lh-body-medium);
  /* height: 300vh; */
}

::-webkit-scrollbar{width: 12px;}

::-webkit-scrollbar-track { background-color: var(--neutral-90);}

::-webkit-scrollbar-thumb{ background-color: var(--neutral-60); border-radius: 4px;}


/*-----------------------------------*\
  #TYPOGRAPHY
\*-----------------------------------*/

.headline-large{
  font-size: var(--fs-headline-large);
  line-height: var(--lh-headline-large);
  font-weight: var(--weight-bold);
  letter-spacing: var(--traking-n-025);
}

.headline-medium{
  font-size: var(--fs-headline-medium);
  line-height: var(--lh-headline-medium);
  font-weight: var(--weight-bold);
}

.headline-small{
  font-size: var(--fs-headline-small);
  line-height: var(--lh-headline-small);
  font-weight: var(--weight-bold);
}

.title-large{
  font-size: var(--fs-title-large);
  line-height: var(--lh-title-large);
  font-weight: var(--weight-semiBold);
}

.title-medium{
  font-size: var(--fs-title-medium);
  line-height: var(--lh-title-medium);
  font-weight: var(--weight-semiBold);
}

.title-small{
  font-size: var(--fs-title-small);
  line-height: var(--lh-title-small);
  font-weight: var(--weight-semiBold);
}

.body-large{
  font-size: var(--fs-body-large);
  line-height: var(--lh-body-large);
  font-weight: var(--weight-regular);
}

.body-medium{
  font-size: var(--fs-body-medium);
  line-height: var(--lh-body-medium);
  font-weight: var(--weight-regular);
}

.label-medium{
  font-size: var(--fs-lable-medium);
  line-height: var(--lh-lable-medium);
  font-weight: var(--weight-semiBold);
  letter-spacing: var(--traking-p-05);
}


/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.material-symbols-rounded{
  display: block;
  width: 1em;
  height: 1em;
  overflow: hidden;
  font-variation-settings: 
  'FILL', 0,
  'wght', 400,
  'GRAD', 0,
  'opsz', 24;
}
.container{
  padding-inline: 16px;
  max-width: 500px;
  width: 100%;
  margin-inline: auto;
}

.section{
  padding-block-end: 60px;
}

.title-wrapper{
  margin-block-end: 32px;
}

.img-holder{
  aspect-ratio: var(--width)/var(--height);
  background-color: var(--neutral-50);
  overflow: hidden;
}

.img-cover{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*-----------------------------------*\
  #COMPONENT
\*-----------------------------------*/

/* BUTTON */

.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  height: 48px;
  padding-inline: 24px;
  border-radius: var(--radius-full);
  max-width: max-content;
  transition: var(--transition-duration-quick) var(--transition-easing-quick);
}

.btn-fill{
  background-color: var(--primary-100);
  color: var(--neutral-100);
}

.btn-fill:where(:hover, :focus){
  background-color: var(--primary-90);
  box-shadow: var(--shadow-1);
}

.btn-fill:where(:active :focus-visible){
  background-color: var(--primary-80);
}

.btn-outline{
  color: var(--primary-100);
  box-shadow: inset 0 0 0 2px var(--primary-100);
}

.btn-outline:where(:hover, :focus, :focus-visible){
  color: var(--neutral-100)
}

.btn-outline:hover{
  background-color: var(--primary-100);
}

.btn-outline:focus{
  background-color: var(--primary-90);
}

.btn-outline:where(:active :focus-visible){
  background-color: var(--primary-80);
}

/** Get Started Button **/

.btn-outline-g{
  color: var(--primary-100);
  box-shadow: inset 0 0 0 2px var(--primary-100);
}

.btn-outline-g:where(:hover, :focus, :focus-visible){
  color: var(--neutral-100)
}

.btn-outline-g:hover{
  background-color: var(--primary-100);
}

.btn-outline-g:focus{
  background-color: var(--primary-90);
}

.btn-outline-g:where(:active :focus-visible){
  background-color: var(--primary-80);
}


/* Icon BTN */

.icon-btn{
  height: 40px;
  width: 40px;
  display: grid;
  place-items: center;
  background-color: var(--neutral-100);
  color: var(--neutral-10);
  border-radius: var(--radius-small);
  box-shadow: var(--shadow-3);
  transition: var(--transition-duration-quick) var(--transition-easing-quick);
}

.icon-btn:where(:hover, :focus-visible){
  background-color: var(--neutral-90);
}

/* BADGE */

.badge{
  height: 32px;
  max-width: max-content;
  display: grid;
  place-items: center;
  background-color: var(--secondary-100);
  border-radius: var(--radius-small);
  box-shadow: var(--shadow-3);
  padding: 2px 10px;
  color: var(--neutral-100);
}


/* CARD */

.card{
  border-radius: var(--radius-large);
  overflow: hidden;
  box-shadow: var(--shadow-2);
  transition: var(--transition-duration-quick) var(--transition-easing-quick);
}

.card:where(:hover, :focus-within){
  box-shadow: var(--shadow-4);
}

.card-banner{
  position: relative;
}

.card-banner .img-cover{
  transition: var(--transition-duration-smooth) var(--transition-easing-quick);
}

.card:where(:hover, :focus-within) .img-cover{
  scale: 1.05;
  rotate: 2deg;
}

.card :where(.badge, .icon-btn){
  position: absolute;
  top: 20px;
}

.card .badge{
  left: 20px;
}

.card .icon-btn{
  right: 20px;
  opacity: 0;
  visibility: hidden;
  scale: 0.8;
  transition: var(--transition-duration-quick) var(--transition-easing-quick);
}

.fav-btn.active .material-symbols-rounded{
  font-variation-settings: "FILL" 1;
}

.card:where(:hover, :focus-within) .icon-btn{
  scale: 1;
  opacity: 1;
  visibility: visible;
}

.card-content{
  padding: 20px 20px 24px;
}

.card-title{
  margin-block: 8px;
  color: var(--neutral-20);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: var(--transition-duration-quick) var(--transition-easing-quick);
}

.card-title:where(:hover, :focus-visible){
  color: var(--primary-100);
}

.card-text{
  color: var(--neutral-40);
} 

.card-meta-list{
  padding-block-start: 16px;
  margin-block-start: 16px;
  border-block-start: 1px solid var(--neutral-90);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}
.meta-text{
  font-size: 10px;
}
.meta-icon{
  font-size: 24px;
  color: var(--primary-80);
}

.card .meta-item{
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--neutral-20);
}


.container-tl h2 {
  font-size: var(--fs-body-medium);
  font-weight: 600;
  color: var(--primary-80);
  width: fit-content;
  margin: auto;
}

.section-container{
  margin: 20px 0 40px 0;
}

.container-tl h1 {
  position: relative;
  font-size: var(--fs-title-small);
  width: fit-content;
  font-weight: 600;
  color: var(--text-dark);
  margin: auto;
  margin-top: 15px;
  margin-bottom: var(--lh-headline-medium);
}

.container-tl h1::after {
  position: absolute;
  content: "";
  left: 40%;
  bottom: -80%;
  height: 2px;
  width: 20%;
  background-color: var(--primary-80);
}

/*-----------------------------------*\
  #HEADER
\*----------------------------------- */

.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 4;
}
.header.active{
  animation: slide_in 500ms ease forwards;
  height: 72px;
  background-color: var(--primary-80);
  color: black
}

@keyframes slide_in{
  0% {transform: translateY(-100%);}
  100% {transform: translateY(0);}
}

.header .container{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header .container .logo img{
  width: 150px; 
  height: 40px;
  padding: 2px 5px;
  /* border-radius: var(--radius-small); */
  background: var(--neutral-100);
}

.nav-l{
  display: flex;
  align-items: center;
}

.nav-l .title_txt{
  font-size: 14px;
  color: var(--neutral-100);
  padding-left: 5px;
  font-weight: bolder;
}

.nav-toggle-btn .close,
.nav-toggle-btn.active .open{
  display: none;
}

.nav-toggle-btn .open,
.nav-toggle-btn.active .close{
  display: block;
}

.navbar{
  position: absolute;
  top: 100%;
  right: 16px;
  background-color: var(--neutral-100);
  min-width: 260px;
  padding: 10px;
  border-radius: var(--radius-large);
  visibility: hidden;
  opacity: 0;
  scale: .04;
  transition: var(--transition-duration-quick) var(--transition-easing-quick);
  box-shadow: var(--shadow-1);
  transform-origin: top right;
  z-index: 4;
}

.navbar.active{
  visibility: visible;
  opacity: 1;
  scale: 1;
}

.navbar,
.navbar-list,
.navbar-wrapper{
  display: grid;
  gap: 8px;
}

.navbar-link,
.btn-link{
  color: var(--neutral-30);
  padding: 6px 12px;
  transition: var(--transition-duration-quick) var(--transition-easing-quick);
}

.btn-link{
  border-block-start: 1px solid var(--primary-100);
  padding-block-start: 14px;
}

:is(.navbar-link, .btn-link):is(:hover, :focus-visible),
.navbar-link.active{
  color: var(--primary-100)
}

.navbar .btn{
  min-width: 100%;
}

/*-----------------------------------*\
  #HERO
\*-----------------------------------*/

.hero{
  position: relative;
  color: var(--primary-70);
  padding-block: 130px 60px;
  overflow: hidden;
  isolation: isolate;
  background: var(--gradient);
}

.hero-title{
  color: var(--neutral-100);
}

.hero-text{
  margin-block: 16px 32px;

}

.searchbar{
  background: var(--white);
  display: grid;
  padding: 8px;
  border-radius: 16px;
  box-shadow: var(--shadow-4);
}

.search-item{
  position: relative;
  color: var(--neutral-50);
}

.search-item .search-item-field{
  height: 76px;
  padding: 40px 16px 12px;
  border-radius: var(--radius-medium);
  transition: var(--transition-duration-quick) var(--transition-easing-quick);
  cursor: pointer;
}

.search-item .search-item-field:where(:hover, :focus){
  background-color: var(--neutral-95);
}

.search-item :where(.label, .material-symbols-rounded){
  position: absolute;
  pointer-events: none;
}

.search-item .label{
  top: 12px;
  left: 16px;
  color: var(--neutral-5);
}

.search-item .material-symbols-rounded{
  top: 50%;
  right: 16px;
  translate: 0 -50%;
  color: var(--primary-100);
}

.search-btn{
  background: var(--primary-100);
  color: var(--neutral-100);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  padding-inline: 24px;
  gap: 12px;
  border-radius: 12px;
  transition: var(--transition-duration-quick) var(--transition-easing-quick);
}

.search-btn:where(:hover, :focus){
  background-color: var(--primary-80);
}

.search-btn:where(:active, :focus-visible){
  background-color: var(--primary-70);
}

.hero .hero-banner{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  min-height: 100%;
  min-width: 100%;
  pointer-events: none;
  z-index: -2;
  opacity: .6;
}

/*-----------------------------------*\
  #ABOUT US
\*-----------------------------------*/

.abou-tus{
  display: grid;
  gap: 16px;
}
.abou-tus .about-content{
  display: grid;
  gap: 16px;
}
.about-content h3{
  position: relative;
  background: var(--primary-100);
  width: fit-content;
  color: var(--neutral-100);
  padding: 5px 10px;
  height: 30px;
}
.about-content .hstry p{
  margin-top: 15px;
}
.container-mgn-t{
  margin-top: 20px;
}
.about-content h3::after{
  position: absolute;
  content: "";
  width: 150px;
  height: 2px;
  background: var(--primary-100);
  left: 100%;
  top: 95%;
}
.about-content .msvs{
  display: grid;
  gap: 16px;
}

.msvs .msv-c{
  display: grid;
  gap: 15px;
}

.msv-c p{
  font-size: 12px;
  font-style: italic;
  background: var(--neutral-90);
  padding-left: 10px;
  border-left: 2px solid var(--primary-80);
}

.about-banner{
  position: relative;
  width: 100%;
  height: 300px;
  margin-top: 20px;
}
.about-banner h3{
  position: relative;
  background: var(--primary-100);
  width: fit-content;
  color: var(--neutral-100);
  padding: 5px 10px;
}
.about-banner h3::after{
  position: absolute;
  content: "";
  width: 80px;
  height: 2px;
  background: var(--primary-100);
  left: 100%;
  top: 95%;
}
.about-banner .corevalues{
  background-color: #000000;
  height: inherit;
  width: 100%;
  position: absolute;
  top: 0;
  opacity: .8;
}

.corevalues li{
  display: flex;
  color: white;
  padding: 10px;
}


/*-----------------------------------*\
  #PROPERTY
\*-----------------------------------*/

.property{ .property{padding-block-start: 60px;}}

.property .section-text {
  margin-block: 8px 16px;
  color: var(--neutral-30);
}

.property-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 16px;
}



/*-----------------------------------*\
  #FEATURE
\*-----------------------------------*/
.feature-banner{
  aspect-ratio: 3/2;
  overflow: hidden;
  border-radius: var(--radius-extra-large);
  box-shadow: 2px 1px 10px 1px var(--primary-90);
}

.feature-content{
  padding: 24px 16px 0;
}

.feature-content .feature-text{margin-block: 16px;}

.feature-text .feature-item {color: var(--neutral-30);}

.feature-list{
  display: grid;
  gap: 12px;
}

.feature-item{
  display: flex;
  align-items: center;
  gap: 8px;
}

.feature-icon{
  color: var(--primary-100);
  font-size: 2.2rem;
}


/*-----------------------------------*\
  TESTIMONIALS
\*-----------------------------------*/

.section__card {
  position: relative;
  isolation: isolate;
  overflow: hidden;
  padding: 5rem 2rem 2rem;
  background-color: var(--neutral-100);
  border-radius: 5px;
  box-shadow: 5px 5px 10px var(--neutral-90);
  transition: 0.3s;
}

.section__card::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  width: 75%;
  aspect-ratio: 1;
  border-radius: 100%;
  background-color: var(--primary-20);
  z-index: -1;
  transition: 0.5s;
}

.section__card span {
  position: absolute;
  top: 5%;
  left: 2%;
  padding: 1rem;
  font-size: var(--fs-headline-medium);
  color: var(--white);
}

.section__card h4 {
  text-align: center;
  font-size: var(--fs-title-small);
  margin-top: var(--lh-headline-small);
  font-weight: 900;
  color: var(--primary-80);
  transition: 0.3s;
}

.section__card p {
  margin-top: var(--lh-label-large);
  margin-bottom: var(--lh-label-large);
  width: 90%;
  color: var(--neutral-60);
  transition: 0.3s;
  text-align: center;
  font-style: italic;
}

.section__card img {
  margin-bottom: 1rem;
  max-width: 100px;
  border-radius: 100%;
  border: 2px solid var(--primary-80);
  transition: 0.3s;
}

.section__card h5 {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--primary-80);
  transition: 0.3s;
}

.section__card h6 {
  font-size: 1rem;
  font-weight: 400;
  color: var(--text-light);
  transition: 0.3s;
}

.section__card:hover::before {
  width: 400%;
}

.section__card:hover :is(h5) {
  color: var(--white);
}

.section__card:hover :is(p) {
  color: var(--neutral-100);
}

.section__card:hover :is(h6) {
  color: var(--primary-80);
}

/*-----------------------------------*\
  #STORY
\*-----------------------------------*/





/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/
.footer{
  background-color: var(--primary-70);
  color: var(--neutral-90);
}
.footer .logo{
  display: flex;
  width: fit-content;
  align-items: center;
  margin-top: 10px;
}
.footer .logo img{
  padding: 5px;
  width: 100px;
  height: 30px;
  background: var(--neutral-100);
}
.footer .logo .title_txt{
  font-size: var(--fs-title-large);
  padding-left: 10px;
  transition: var(--transition-duration-quick) var(--transition-easing-quick);
}
.title_txt:where(:hover, :focus-visible){
  color: var(--primary-80);
}
.footer-top .container{
  padding-top: 20px;
}
.footer-top .container .footer-brand{
  padding-block: 20px;
  display: grid;
  gap: 24px;
}

.footer-text {
  margin-block: 16px;
}

.footer-list-title{
  margin-block-end: 16px;
  color: var(--primary-80);
}

.footer-list{
  display: grid;
  gap: 16px;
}

.footer-link{
  transition: var(--transition-duration-quick) var(--transition-easing-quick);
}

.footer-link:where(:hover, :focus-visible){
  color: var(--primary-100);
}

.social-list{
  display: flex;
  gap: 16px;
}

.footer-bottom{
  border-block-start: 1px solid var(--neutral-100);
}

.footer-bottom .container{
  padding-block: 20px;
  display: grid;
  justify-content: center;
}

.footer-bottom .copyright{
  font-size: var(--fs-lable-medium);
}
/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

/**
  responsive for larger than 768px screen
*/

@media (min-width: 768px) {
  
  /** CUSTOM PROPERTY **/

  :root{
    /** TYPOGRAPHY **/

    /* Font Size */
    --fs-headline-large: 5.2rem;
    --fs-headline-medium: 4rem;
    --fs-headline-small: 3.6rem;

    /* line height */

    --lh-headline-large: 64px;
    --lh-headline-medium: 52px;
    --lh-headline-small: 48px;

  }

  /** Reused Styles **/

  .container{
    max-width: 720px;
  }
  .section{
    padding-block-end: 80px;
  }

  .title-wrapper,
  .story .title-wrapper{
    display: grid;
    grid-template-columns: 1fr max-content;
    align-items: center;
    gap: 40px;
    margin-block-end: 48px;
  }

  /**
    HERO
  **/

  .hero{
    padding-block: 160px 100px;
  }

  .searchbar{
    grid-template-columns: 160px 160px 1fr max-content;
    gap: 0;
  }

  .search-item .material-symbols-rounded{
    display: none;
  }

  .search-item:not(:last-of-type)::after{
    content: "";
    position: absolute;
    top: 16px;
    left: 100%;
    bottom: 16px;
    width: 1px;
    background-color: var(--neutral-90);
  }

  .search-btn{
    height: 100%;
    margin-inline-start: 8px;

  }

  /**
    PROPERTY
  **/

  .property{padding-block-start: 80px;}

  .property .section-text{margin-block-end: 0;}

  /**
    FUTURE
  **/

  .feature-content{padding-block-start: 32px;}

  .feature-content .feature-text{
    margin-block: 16px 24px;
    line-height: 28px;

  }

  .feature-list{
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }

  /**
    FOOTER
  **/

  .footer-top .footer-brand{
    padding-block: 20px;
    grid-template-columns: repeat(3, 1fr);
  }
  
}


/**
  responsive for larger than 992px screen
*/

@media (min-width: 992px) {
  
  /** CUSTOM PROPERTY **/

  :root{
    /** TYPOGRAPHY **/

    /* Font Size */
    --fs-body-large: 1.8rem;

    /* line height */

    --lh-body-large: 32px;
    

  }

  /** Reused Styles **/

  .container{
    max-width: 950px;
  }

  .container-tl h1 {
    font-size: var(--fs-headline-medium);
  }

  .btn-outline-g{
    color: var(--primary-70);
    box-shadow: inset 0 0 0 2px var(--primary-70);
  }

  .btn-outline-g:where(:hover, :focus, :focus-visible){
    color: var(--neutral-100)
  }

  .btn-outline-g:hover{
    background-color: var(--primary-70);
  }

  .btn-outline-g:focus{
    background-color: var(--primary-70);
  }

  .btn-outline-g:where(:active :focus-visible){
    background-color: var(--primary-70);
  }

  .container-about-us{
    display: flex;
    gap: 20px;
    width: 80%;
    margin: auto;
    align-items: center;
  }
  .about-content{
    max-width: 65%;
  }
  .about-banner{
    max-width: 35%;

  }

  .about-banner .feature-icon{
    margin-left: 0px;
  }
  /** HEADER **/

  .nav-toggle-btn{ display: none;}

  .navbar,
  .navbar-list,
  .navbar-wrapper{
    all: unset;
    display: flex;
    align-items: center;
  }

  .nav-l .title_txt{ display: none;}

  .navbar,
  .navbar-list{
    flex-grow: 1;
  }

  .navbar-list{
  justify-content: center;
  }

  .navbar-link,
  .btn-link{
    color: var(--neutral-100);
    line-height: 48px;
  }

  .navbar-link{
    padding: 0 24px;
  }
  
  :is(.navbar-link, .btn-link):is(:hover, :focus-visible),
  .navbar-link.active{color: var(--neutral-80);}

  .navbar-link.active{
    position: relative;
  }

  .navbar-link.active::before{
    content: "";
    position: absolute;
    left: 50%;
    translate: -50% 0;
    bottom: 8px;
    width: 4px;
    height: 4px;
    border-radius: var(--radius-circle);
    background-color: var(--neutral-100);
  }

  .btn-link{
    color: var(--neutral-100);
    border-radius: none;
    padding: 0;
  }

  .navbar .btn{ min-width: max-content}

  .navbar-wrapper{
    gap: 24px;
  }

  /** Hero **/

  .hero .container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
  }

  .hero-content{
    grid-column: 1/7;
  }

  .searchbar{
    min-width: max-content;
    grid-template-columns: 160px 220px 1fr max-content;
  }

  .search-title .search-item-field{
    height: 84px;
    padding-inline: 24px;
    padding-block-end: 16px;
  }

  .search-item .label{
    top: 16px;
    left: 20px;
  }

  .search-item .material-symbols-rounded{
    display: block;
    right: 24px;
  }

  /* .hero-banner{
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 720px;
    z-index: -1;
  } */

  /** Property **/

  .property .section-text{
    max-width: 640px;
  }

  .feature .container{
    display: Grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .feature-content{
    padding: 40px;
  }

  .feature-list{
    grid-template-columns: 1fr;
  }

  .feature-banner{
    aspect-ratio: auto;
  }

  .feature-2 .feature-banner{
    order: 1;
  }
}

@media (min-width: 1200px) {

  /** CUSTOM PROPERTY **/

  .root{
    --fs-headline-large: 7.2rem;
    --fs-headline-medium: 5.4rem;
  }
  .container{ max-width: 1240px;}

}